<form (ngSubmit)="submit()" [formGroup]="imageForm" #formDir="ngForm">
    <h2>Add Image</h2>
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" [(ngModel)]="title" formControlName="imageTitle" placeholder="Enter the title of the image">
    </div>
    <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" accept="image/*" (change)="showPreview($event)" (change)="onFileSelected($event)">
    </div>
    <div class="polaroid" *ngIf="imageURL && imageURL !== ''">
        <img [src]="imageURL">
        <div class="container">
            <p>{{ title | titlecase }}</p>
        </div>
    </div>
    <div class="form-submit">
        <input type="submit" value="Confirm">
    </div>
</form>