form {
    width: 450px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 1.3rem;
    margin: 2rem 0 2.5rem 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group label {
    font-weight: bold;
    font-size: .9rem;
    margin-bottom: .5rem;
}

.form-group input {
    color: #000;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

input[type=text] {
    border: 0.1rem solid #dcdcdc;
    border-radius: 0.5rem;
    padding: 0.9rem;
}

.polaroid {
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    width: 100%;
}

.container {
    text-align: center;
    padding: 10px 20px;
}

.form-submit {
    display: flex;
    justify-content: center;
}

input[type=submit] {
    background-color: #efefef;
    border: 2px solid transparent;
    padding: 0.6rem 1.9rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem 0;
}

input[type=submit]:hover {
    color: #4169E1;
    border-color: #4169E1;
    background-color: transparent;
}