<div class="about">
    <h2>About Image Gallery</h2>
    <p>Welcome to Image Gallery! Here you will find a wide variety of high-quality images, ranging from amazing landscapes to adorable animals and inspiring artwork. In addition, you can also share your own images with us and add them to our gallery so that
        others can appreciate them. Our site is constantly updated with new images, including contributions from our users. So feel free to share your images and start your visual journey today!</p>
    <a routerLink="/images/new">I want to add an Image!</a>
</div>