.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.about h2 {
    margin-bottom: 2rem;
}

.about p {
    width: 40%;
    margin-bottom: 2rem;
}

.about a {
    text-decoration: underline;
}