* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000;
}

a {
    text-decoration: none;
    transition: .4s;
}

a:hover {
    color: #4169E1;
}